.line{
    background-color: rgb(106, 173, 196);
    height: 3px;
    border-radius: 10px;
    width: 50%;
}

.header{
    background-image: linear-gradient(rgba(247, 224, 24, 0.65), rgba(247, 224, 24, 0.65)), url(../img/React-developer.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 34rem;

    .title{
        h1{
            font-weight: bold;
            color: black;
        }
    }
    .about-me{
        position: absolute;
        .card{
            .card-body{
                .card-title{
                    text-align: center;
                }
                .card-subtitle{
                    text-align: center;
                }
            }
        }
    }
}



.certification-section{
    color: #F7E018;
    
    .courses{
        padding-top: 16rem;
    }
}

.certification-section-alt{
    background-color: #69A7BF;
    padding-bottom: 10rem;
    .courses{
        padding-top: 16rem;
    }
}

.section-projects{
    padding-bottom: 3rem;
    background-color: #69A7BF;
    h1{
        font-size: 3rem;
    }   
}

.seccion-secundaria{
    background-color: white;
    padding-bottom: 10rem;
    h1{
        color: #69A7BF;
        font-size: 4rem;
        width: 60%;
    }
    h4{
        color: #69A7BF !important;
    }
    p{
        font-size: 1.3rem;
    }
    .contenedor{
        display: flex;
        flex-flow: row;
        margin-top: 6rem;
        &__parrafos{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            &--texto{
                text-align: center;
                width: 80%;
            }
        }
    }
}

/*Cuadro flotante*/
.fondo-flot {
    background: linear-gradient(0deg, white 70%, #212529 49%);
    justify-content: flex-end;
    .flotantes {
        background-color: #69A7BF;
        color: white;
        width: 285px;
        height: 330px;
        align-items: center;
        display: flex;
        border-radius: 50px 0 0 50px; 
        p {
            padding: 25px;
            font-size: 2rem; 
        } 
    }
}

footer{
    color: white;
    a{
        text-decoration: none;
        color: white;
        &:hover{
            color: #ccc;
            transition: 300ms all;
        }
    }
    i::before{
        font-size: 2rem;
    }
    img{
        width: 20%;
    }
}

.d-flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.developed{
    color: white;
}

@media only screen and (max-width: 767px){
    .certification-section{
        height: 95rem;
    }
    .courses-cards{
        margin-top: 2rem;
    }
}